extends layout

block content
  h1 #{title}
  .board(ondrop="drop(event)" ondragover="allowDrop(event)")
    each rowNum in [1, 3, 5, 7]
      .square.white
      .square.black
      .square.white
      .square.black
      .square.white
      .square.black
      .square.white
      .square.black
      .line-break
      .square.black
      .square.white
      .square.black
      .square.white
      .square.black
      .square.white
      .square.black
      .square.white
      .line-break
    
  // label(for="SoundOption") Enable Sound
  // input(id="SoundOption", type="checkbox", name="Sound")
  each whitePiece in ['&#9812;', '&#9813;', '&#9814;', '&#9814;', '&#9815;', '&#9815;', '&#9816;', '&#9816;', '&#9817;', '&#9817;', '&#9817;', '&#9817;', '&#9817;', '&#9817;', '&#9817;', '&#9817;']
    .chess-piece.ui-widget-content
      != whitePiece
  .line-break
  each blackPiece in ['&#9818;', '&#9819;', '&#9820;', '&#9820;', '&#9821;', '&#9821;', '&#9822;', '&#9822;', '&#9823;', '&#9823;', '&#9823;', '&#9823;', '&#9823;', '&#9823;', '&#9823;', '&#9823;']
    .chess-piece.ui-widget-content
      != blackPiece
  // img(src='/images/minion.jpg' draggable="true" ondragstart="drag(event)")#minion-img
  script(type="text/javascript", src="//code.jquery.com/jquery-1.10.2.js")
  script(type="text/javascript", src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
  script(type="text/javascript", src="/javascripts/index.js")
