extends layout

block content
  h1 #{title}
  .board(ondrop="drop(event)" ondragover="allowDrop(event)")
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
        .line-break
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
        .line-break
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
        .line-break
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
        .line-break
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
        .line-break
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
        .line-break
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
        .line-break
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
  img(src='/images/minion.jpg' draggable="true" ondragstart="drag(event)")#minion-img
  script(type="text/javascript", src="/javascripts/index.js")
