extends layout

block content
  h1 #{title}
  .board
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .line-break
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    .square.black
    .square.white
    
