.board {
    width: 480px;
    height: 480px;
    border: 2px solid black;
}

.board .square {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 0;
}

.board .square.black {
    background-color: black;
}

.board .square.white {
    background-color: white;
}
