.board {
    width: 480;
    height: 480;
    border: 2px solid black;
}

.board .square {
    width: 60px;
    height: 60px;
    display: inline-block;
}

.board .square.black {
    background-color: black;
}

.board .square.white {
    background-color: white;
}
